.env
.env.local
**/__pycache__/
**/.speakeasy/temp/
**/.speakeasy/logs/
.venv/
venv/
env/
src/*.egg-info/
__pycache__/
.pytest_cache/
.python-version
.DS_Store
pyrightconfig.json
README-PYPI.md
.speakeasy/temp/
.speakeasy/reports
*.pem
poetry.lock
